* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
}


/* Styling sidebar */
.sidebar {
    background: #1992D4;
    color: white;
    position: relative;
    z-index: 3;
}

.sidebar .hero svg {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.sidebar svg {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.sidebar svg path {
    fill: white;
}

.sidebar .title {
    font-weight: 600;
    font-size: 26px;
}

.sidebar .section {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2px;
    cursor: pointer;
    animation: .5s;
}

.sidebar .section:hover {
    margin-left: 3px;
    transform: scale(1.05);
    color: #FFFDD0;
}

.sidebar .hero,
.sidebar .topics .topic,
.sidebar .others .other {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    margin: 15px 0;
}

.sidebar .hero {
    margin-left: 15px;
    cursor: pointer;
}

.sidebar .topics,
.sidebar .others {
    margin-left: 20px;
    margin-top: 50px;
}


/* Styling nav bar*/
.navbar {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    width: 86vw;
    height: 15%;
    margin-left: 14vw;
}

.navbar .col {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.navbar,
.navbar .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navbar .message {
    align-items: flex-start;
}

.navbar .right,
.navbar .left {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar svg {
    margin-right: 20px;
    cursor: pointer
}

.navbar input {
    width: 850px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background: #E2E8F0;
    padding: 10px 15px;
}

.navbar input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.navbar svg {
    width: 25px;
    height: 25px;
}

.logo {
    margin: 0 5px;
}

.right .logo {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    cursor: pointer;
}

.left .logo {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    cursor: pointer;
}

.navbar .right .username {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.navbar .left .username {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.navbar .greet {
    font-size: 14px;
    font-weight: 600;
}

.navbar button {
    width: 125px;
    height: 40px;
    margin: 0 10px;
    background: #1992D4;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    animation: .6s;
}

.navbar button:hover {
    transform: scale(1.05);
    color: #1992D4;
    background: white;
    border: 2px solid #1992D4;
}


/* Styling main content */
.main {
    margin-top: 140px;
    display: grid;
    height: calc(100vh - 140px);
    background: #E2E8F0;
}

.hero {
    grid-area: 1/1/4/5;
}

.primary {
    grid-area: 1/5/2/6;
}

.secondary {
    grid-area: 2/5/3/6;
}

.hero h2 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.hero .container {
    height: calc(100vh - 240px);
    padding: 0 50px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    gap: 50px;
}

.hero .container .box {
    width: 350px;
    height: 300px;
    background: linear-gradient(to right, #F0B429 0%, #F0B429 2%, white 2%);
    padding: 25px;
    border-radius: 10px;
    position: relative;
}

.hero .container .box h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
    color:rgba(0, 0, 0, .7);
    line-height: 1.2em;
}

.hero .box .icons {
    position: absolute;
    bottom: 30px;
    right: 25px;
}

.hero .box .icons svg {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    cursor: pointer;
    transition: .3s;
}

.hero .box .icons svg:hover path {
    fill: rgba(25, 146, 212, .5);
}

.list {
    background: white;
    width: 350px;
    padding: 10px 40px;
    margin-right: 50px;
    border-radius: 10px;
}

.primary h2 {
    margin-top: 60px;
    margin-bottom: 10px;
}

.primary .col h4 {
    margin-bottom: -12px;
    cursor: pointer;
    transition: .3s;
}

.primary .col h4:hover {
    color: rgba(240, 180, 41, .7);
}

.primary .col p {
    font-size: 14px;
}

.secondary h2 {
    margin-top: 37px;
    margin-bottom: 10px;
}

.secondary .list {
    height: 250px;
}

.secondary img {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    cursor: pointer;
}

.secondary .col {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.secondary .col .details {
    display: flex;
    flex-direction: column;
}

.secondary .col .details .username {
    cursor: pointer;
    transition: .3s;
}

.secondary .col .details .username:hover {
    color: rgba(240, 180, 41, .7);
}

.secondary .col .details .topic {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 3px;
}

.box, .list {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    transition: .6s;
}

.box:hover{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    transform: scale(1.05);
}